*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.debug{
    border:1px solid black;
}
header{
    height: 100px;
    width: 100%;
}
.header-top{
    height: 60%;
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}
.header-top span{
    height: 40%;
    font-size: 30px;
    margin-left: 10px;
}
.header-bottom{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AECFA4;
}
.header-bottom span{
    text-transform: uppercase;
    padding-right: 10px;
}

/* main  */
main{
    height: calc(100vh - 100px);
    width: 100%;
    background-color: #DDDDDD;
    overflow-y: auto;
}
.container{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
   
}
.card{
    flex: 0 1 calc(100% / 5 - 40px);
    text-align: center;
    margin: 20px;
    background-color: white;
    box-shadow: 3px 3px 5px rgb(113, 113, 113);
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
    color: black;
    text-transform: uppercase;
    font-size: 10px;
    padding: 20px;
}
.card .fas{
  font-size: 20px;
  padding-bottom: 5px;
}